.inDiv{
  width:100%;
  background-color: cornsilk;
  border: 1px inset black;
  outline: 1px solid white;
  box-shadow: 0 0 0 1px gray;
  border-radius: 3px;
  font: bold 1rem sans-serif;
  margin: 1px;
  padding: 1px;
  outline-offset: 1px;

}

.bcDiv {
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 0px;
  height: 500px
}

.col2 {
  background-color: indianred;
}

.topDiv {
  width: 100%;
  height: 100vh;
  background-color: #6f8670;
}

.item-grid {
  width: 100px;
  height: 100px;
  padding: 1px;
  border-color: black;
  border-width: 2px;
}

body {
  width: 100%;
  height: 600px;
  padding: 2px;
  margin-left: 10px;
  margin-top: 0px;
}

img {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
  margin: 0px;
}

.action {
  text-align: left;
  padding: 2px;
  background-color: lightcyan;
}
.action-button{
  width:25%;
  margin:5px;
}
.hover-bc-photo {
  width: 8em;
  height: 8em;
  float: center;

}

.hasFocus {
  border: 5px outset purple;
  text-align: center;
}

.bc-button {
  margin: 3px;
  width: 90%;
}

.bigbtn {
  width: 400px;
  background-color: #6f8670;
  border: solid black 2px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-arrow {
  width: 10px;
  height: 10px;
  background-color: #790817;
  border: solid black 2px;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;

  font-size: 10px;
  margin: 0px;
  cursor: pointer;
}

.alert {
  left: calc(50% - 150px);
  width: 300px;
  height: 200px;
  top: -250px;
  border-radius: 10px;
  text-align: center;
  background-color: peachpuff;
  border: none;
  position: fixed;
  margin: 0 auto;
  display: block;
  z-index: 50;
}

.animate {

  animation-name: example;
  animation-duration: 5s;

}

@keyframes example {
  0% {
    opacity: 1;
    top: -200px;
  }

  15% {
    opacity: 1;
    top: 50px;
  }

  85% {
    top: 50px;
    opacity: 1;

  }

  99% {
    top: 50px;
    opacity: 0;

  }

}



/* CSS */